.container {
  margin-top: 10px;
  border: 1px dashed red;
}

.container > .row {
  padding: 5px;
  color: brown;
  box-sizing: border-box;
  border: 1px solid blue;
}

.container > .row > div {
  background-color: antiquewhite;
  color: brown;
  box-sizing: border-box;
  border: 1px dotted green;
}

/* VERTICAL ALIGNMENT*/

.col-6 {
  height: 50px;
}

.vertical {
  height: 250px;
  border-color: coral;
}

.vertical .row {
  height: 100%;
}
